body {
    height: 2000px;
    margin: 0;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    background-color: #272727;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.listHeader{
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0;
}

.listOptions{
    margin-right: 20px;
}

#nome{
    margin-left: 20px;
}

.textoHeader{
    color: #fff;
    text-decoration: none;
    font-size: large;
}

#logoGithub {
    max-width:50px;
    max-height:50px;
    width: auto;
    height: auto;
    margin-right: 20px;
    border-radius: 8px;
}

#retratoVinicius{
    top: 0;
    left: 0;
}

#container-imagem {
    height: 100vh;
    width: 100vw;
    background: url('/Assets/Images/Photos/BusinessPortraits.jpg');
    background-size: cover;
    opacity: 0.9;
}