body {
    height: 2000px;
    margin: 0;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    width: 100%;
    height: 75px;
    background-color: rgba(39, 39, 39, 0.521);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
}

.listHeader{
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0;
}

.listOptions{
    margin-right: 20px;
}

#nome{
    margin-left: 20px;
}

.textoHeader{
    color: #fff;
    text-decoration: none;
    font-size: large;
}

#logoGithub {
    max-width:50px;
    max-height:50px;
    width: auto;
    height: auto;
    margin-right: 20px;
    border-radius: 8px;
}

#containerImagem {
    height: 100vh;
    width: 100%;
    background: url('/Assets/Images/Photos/BusinessPortraits.jpg');
    filter: brightness(65%);
    background-size: cover;
    opacity: 0.90;
}

#imgScroll{
    position: fixed;
    bottom: 0;
    right: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    transform: translatey(0px);
    animation: move 1.1s ease-in-out infinite;
}

@keyframes move {
    0%{transform: translateY(0px);}
    50%{transform: translateY(-30px);}
    100%{transform: translateY(0px);}
}

html{
    scroll-behavior: smooth;
}

#containerTexto{
    color: #fff;
    background-color: black;
    height: 300px;
    margin-top: 10px;
}